body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  color: #000000;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffff;
}

.logo {
  height: 74px;
}

.nav-links {
  margin-right: 20px;
  margin-left: auto;
}

.nav-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  margin: 0 15px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.cta-button {
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: 2px solid #000000;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.main-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 20px;
}

.tagline {
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer-column {
  flex: 1;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 10px 0;
}

.footer-column ul li a {
  text-decoration: none;
  color: #000000;
}

.social-media-logos img {
  height: 20px;
  margin: 0 10px;
}

.footer-column p {
  margin: 0;
}
