@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  font-family: Anton;
  margin: 0;
  padding: 0;
  background-color: #131313;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #E3E3E3;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: transparent;
}

.DIDDYLogo {
  height: 152px;
}

.nav-links {
  margin-right: 20px;
  margin-left: auto;
}

.nav-links ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links ul li {
  margin: 0 15px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
}

.cta-button {
  padding: 10px 10px;
  background-color: #E3E3E3;
  color: #131313;
  border: 4px solid #E3E3E3;
  border-radius: 21px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;  
  font-weight: 400;
}

.cta-button:hover {
  background-color: #131313;
  color: #E3E3E3;
}

.main-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 10px;  
  font-weight: 400;

}

.tagline {
  font-size: 3em;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer {
  background-color: #131313;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;  
  font-weight: 400;
}

.footer-column {
  flex: 1;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 0 0px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #E3E3E3;
}

.social-media-logos img {
  height: 21px;
  margin: 15px 10px;
}

.footer-column p {
  margin: 0;
}