.invite-picture {
  width: 68px;
  height: 68px;
  float: left;
}

.notification-circle {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 15px;
  height: 15px;
  background-color: #fa0000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  z-index: 1;
}

.invite-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0;
}

.invite-title {
  flex: 1;
  text-align: center;
  font-style: normal;
  color: white;
  margin: 0;
}

.invite-close {
  width: auto;
  height: 38px;
  cursor: pointer;
  float: right;
}

.invite-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #131313;
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-radius: 21px;
}

.invite-content {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  box-shadow: 0px 0px 68px #333333;
  border-radius: 21px;
}
