@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.landing-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000000;
  color: #000000;
  text-align: center;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.header-icons {
  display: flex;
  gap: 20px;
}

.icon {
  width: 40px;
  height: 40px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}


.cta-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tap-info {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

@media (max-width: 768px) {
  .progress-bar {
    width: 80%;
  }

  .cta-button {
    width: 80%;
  }
}
.custom-win-streak {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.custom-progress-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 60%;
}

.custom-progress-bar {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  height: 30px;
  flex: 1;
  position: relative;
  margin: 0 20px;
}

.bg-yellow {
  background-color: #f5c116 !important;
}
.custom-progress {
  background-color: #f5c116;
  height: 100%;
  border-radius: 5px;
  position: relative;
  transition: width 0.3s;
}

.custom-circle {
  width: 30px;
  height: 30px;
  background-color: #f5c116;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.custom-circle.custom-start {
  left: 10px;
  z-index: 999;
  color: rgb(255, 255, 255);
}

.custom-circle.custom-end {
  right: -15px;
  top: 0;
  color: rgb(255, 255, 255);
  background-color: #000000;
}

.custom-progress-text {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}
.settings-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.logout-button {
  color: black;
  padding: 0px 0px;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #ddd;
}
