@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  font-family: "Anton";
  font-weight: 40;
  font-style: normal;
}
.home-container {
  /* background-image: url('https://blogs.loc.gov/folklife/files/2018/02/Kumbaya.jpg'); */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.landing-container {
  display: flex;
  flex-direction: column;
  background-color: #c8afaf;
  color: #000000;
  text-align: center;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: transparent;
}

.header-icons {
  display: flex;
  gap: 20px;
}

.icon {
  width: 40px;
  height: 40px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  width: 100%;
}

.actions-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.cta-button {
  padding: 10px 20px;
  margin: 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tap-info {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}

@media (max-width: 768px) {
  .progress-bar {
    width: 80%;
  }

  .cta-button {
    width: 80%;
  }
}

.custom-win-streak {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.find-foe-section {
  margin: 10px;
}

.custom-progress-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 60%;
  /* height: 20px; */
}

.custom-progress-bar {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  height: 30px;
  flex: 1;
  position: relative;
  margin: 0 20px;
}

.bg-yellow {
  background-color: #f5c116 !important;
}

.custom-progress {
  background-color: #f5c116;
  height: 100%;
  border-radius: 5px;
  position: relative;
  transition: width 0.3s;
}

.custom-circle {
  width: 30px;
  height: 30px;
  background-color: #f5c116;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

h4 {
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.custom-circle.custom-start {
  left: 10px;
  top: 1%;
  z-index: 999;
  color: rgb(255, 255, 255);
}

.custom-circle.custom-end {
  right: -15px;
  top: 1%;
  color: rgb(255, 255, 255);
  background-color: #000000;
}

.custom-progress-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.setting-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 0px 51px #333333;
  z-index: 1;
}

.logout-button {
  color: rgb(255, 8, 8);
  padding: 0px 0px;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #ddd;
}