.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3e3e3;
  color: #131313;
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
}
.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 20px 0; /* Optional padding to adjust spacing */
}

.profile-title {
  flex: 1;
  text-align: center;
  font-style: normal;
  color: white;
  margin: 0;
}

.close-icon {
  width: auto;
  height: 38px;
  cursor: pointer;
}

.profile-content {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 34px #333333;
}

.profile-picture-section {
  display: flex;
  align-items: center;
}

.profile-picture {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display:flex;
  align-items:center;
  justify-content: center;
}


.profile-name {
  margin-top: 30px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 1.2em;
}

.stats-table td {
  padding: 21px;
  text-align: left;
}

.stats-table td.wins {
  color: green;
}

.stats-table td.losses {
  color: red;
}

.stats-table td.disqualifications {
  color: orange;
}

.profile-name {
  color: #000000;
}

.modal-body {
  background-color: #ff0000;
  margin-bottom: 20px;
}
